@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --primary: theme("colors.gray.200");
  --text: theme("colors.black");
  --secondary: theme("colors.blue.300");
  --text-secondary: theme("colors.gray.100");
  --card: theme("colors.white");
  --card-border: theme("colors.gray.200");
  --text-card: theme("colors.black");
  --details: theme("colors.blue.500");
  --button: theme("colors.blue.600");
  --button-hover: theme("colors.blue.700");
}

.dark {
  --primary: theme("colors.slate.950");
  --text: theme("colors.slate.400");
  --secondary: theme("colors.slate.950");
  --text-secondary: theme("colors.slate.500");
  --card: #1a2536;
  --card-border: #334155;
  --text-card: theme("colors.slate.200");
  --details: theme("colors.blue.950");
  --button: theme("colors.blue.900");
  --button-hover: theme("colors.blue.800");
}
