@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --primary: theme("colors.gray.200");
  --text: theme("colors.black");
  --secondary: theme("colors.blue.400");
  --text-secondary: theme("colors.gray.100");
  --card: theme("colors.white");
  --card-border: theme("colors.gray.200");
  --text-card: theme("colors.black");
  --details: theme("colors.blue.500");
  --button: theme("colors.blue.600");
  --button-hover: theme("colors.blue.700");
  --placeholder: theme("colors.gray.400");
}

.dark {
  --primary: theme("colors.slate.950");
  --text: theme("colors.slate.400");
  --secondary: theme("colors.slate.950");
  --text-secondary: theme("colors.slate.500");
  --card: #1a2536;
  --card-border: #283649;
  --text-card: theme("colors.slate.200");
  --details: theme("colors.slate.800");
  --button: theme("colors.blue.900");
  --button-hover: theme("colors.blue.800");
  --placeholder: theme("colors.slate.600");
}

.overflow-y-auto::-webkit-scrollbar {
  width: 6px; 
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #525252c4; 
  border-radius: 3px;
}